@import "mixins";
:root {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: "Inter var", sans-serif;
  }
}

$primaryThemeColor: #073b6f;
$secondaryThemeColor: #ff624b;

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 0.8rem;
  padding-left: 0.8rem;
}

* {
  font-family: "Inter";
  box-sizing: border-box;

  body {
    margin: 0;
    overflow-x: hidden;

    .primaryThemeColor {
      color: $primaryThemeColor;
    }
    .secondaryThemeColor{
      color: $secondaryThemeColor;
    }

    // a#navbarProductDropdown:hover ul.dropdown-menu{
    //   display: block;
    // }
    

    .navbar {
      background: #f2f4f8;
      // background: rgba(255, 255, 255, 0.5);
      .dropdown:hover > .dropdown-menu {
        display: block;
      }
      .dropdown > .dropdown-toggle:active {
        pointer-events: none;
      }
      .dropdown-menu {
        background-color: #f2f4f8;
        // background-color: rgba(255, 255, 255);
        // background-color: rgba(255, 255, 255, 0.5);
        li {
          color: #f2f4f8;
          // color: #fff;
          a,
          .dropdown-item {
            // color: #000;
            color: $primaryThemeColor;
            &:focus,
            &:hover {
              // color: #000;
              color: $secondaryThemeColor;
              font-weight: 600;
              background-color: transparent;
            }
          }
        }
      }
      .nav-link {
        // color: #000 !important;
        color: $primaryThemeColor;
        li {
          a {
            // color: #000;
            color: $primaryThemeColor;
          }
        }
      }
      .nav-link:hover{
        color: $secondaryThemeColor;
      }
    }
    header {
      min-height: 90vh;
      //   position: relative;
      .showcase {
        min-height: 70vh;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: end;
        align-items: flex-end;
        // width: 35rem;
        h1 {
          color: #fff;
          font-size: 3.75rem;
          margin-bottom: 0;
          font-weight: 700;
          margin-bottom: 1rem;
        }
        p {
          margin-top: 0;
          color: #fff;
          font-weight: 500;
          line-height: 1.4;
          font-size: 1.2rem;
          width: 30rem;
        }
      }
      .video-container {
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        .landingPageHeroBgVideo {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          background-color: rgba(0, 0, 0, 0.25);
        }
      }
    }
    .bg-lightGray {
      background: #f4f4f4;
    }
    .pressHeroParallax {
      background-image: url("https://media.istockphoto.com/id/472821788/photo/rolled-newspaper-with-the-headline-press-release.jpg?s=612x612&w=0&k=20&c=msCxAstU_h45-uLq3tB7Tttfuxfr3Mr8UGN9LbJLAM4=");
      // background-image: url('https://media.istockphoto.com/id/469182248/photo/newspaper-with-the-headline-press-release.jpg?s=612x612&w=0&k=20&c=k08xLqwU20OLAv60_pguWDXuhXIPUKLW_4qPc7XCNAk=');
      // background-image: url('https://thumbs.dreamstime.com/b/press-release-written-newspaper-49699477.jpg');
      // background-image: url('https://www.adsmiths.co.uk/wp-content/uploads/2018/06/cover-press-release.jpg');
      height: 75vh;
      @include parallax;
    }
    .publicationHeroParallax {
      background-image: url("https://sail.co.in/sites/default/files/banner/2020-06/Publications.jpg");
      // background-image: url('https://www.ripublication.com/images/Journal-Banner.jpg');
      height: 75vh;
      @include parallax;
    }
    .eventsHeroParallax{
      background-image: url("https://uploads-ssl.webflow.com/5ff4e43997c4ec6aa5d646d1/603d547ed5c5fd6365dabbef_industry%20expert%20roundup%20-%20why%20are%20events%20important.png");
      height: 75vh;
      @include parallax;
    }
    .contactUsHeroParallax{
      background-image: url("https://www.anandgroupindia.com/wp-content/uploads/2019/05/contactus.jpg");
      // background-image: url("https://st2.depositphotos.com/1265075/7446/i/600/depositphotos_74468913-stock-photo-contact-us-icons-on-cubes.jpg");
      height: 75vh;
      @include parallax;
    }
    .testimonialHeroParallax{
      background-image: url("https://telecomfit.com/wp-content/uploads/2019/02/Happy-Clients.jpg");
      // background-image: url("https://mikekim.com/wp-content/uploads/2015/01/testimonials-1024x683.jpg");
      height: 75vh;
      @include parallax;
    }
    .blogHeroParallax{
      // background-image: url("https://images.unsplash.com/photo-1542435503-956c469947f6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8YmxvZyUyMGNvdmVyfGVufDB8fDB8fA%3D%3D&w=1000&q=80");
      background-image: url("https://www.impactbnd.com/hubfs/social-suggested-images/5_Blog_Layout_Best_Practices_From_2016-1.jpg");
      height: 75vh;
      @include parallax;
    }
    .productCommonParallax{
      background-image: url("https://www.shutterstock.com/image-vector/what-how-why-template-design-260nw-2055932024.jpg");
      height: 100%;
      @include parallax;
    }
    .product-NEO-HeroParallax{
      background-image: url("https://www.childhealthimprints.com/wp-content/uploads/2020/05/imgpsh_fullsize_anim.png");
      height: 75vh;
      @include parallax;
    }
    .aboutHeroParallax {
      background-image: url("https://keiferx.com/wp-content/uploads/2022/06/chess-men-gray-shirt-1900x900-dark2.jpg");
      height: 75vh;
      @include parallax;
    }
    .aboutParallax01 {
      background-image: url("https://keiferx.com/wp-content/uploads/2022/06/doctor-patient-iStock-1183448049-1920x900-dark.jpg");
      height: 100%;
      @include parallax;
    }
    .underlineDiv {
      height: 5px;
      background: linear-gradient(to right, #0367bf, #ff6e59);
    }
    section {
      img {
        max-height: 500px;
        object-fit: contain;
      }
      .keyPoints{
        .imgDiv{
          border-radius: 50%;
          padding: 5px;
        }
      }
      .sectionContent {
        .underlineDiv {
          height: 5px;
          background: linear-gradient(to right, #0367bf, #eeee22);
        }

        p.contentDescription {
          span {
            font-weight: bold;
          }
        }
      }

    }
    footer {
      background: #f2f4f8;
      // background: #ff624b;
      .text-SecondaryTheme {
        color: $secondaryThemeColor;
        &:hover {
          font-weight: 600;
          color: $secondaryThemeColor;
        }
      }
      .btn-footerSocialLink {
        background-color: $primaryThemeColor;
        border-radius: 4px;
        border-width: 0px;
        color: #fff;
        // font-size: 20px;
        &:hover {
          background-color: $secondaryThemeColor;
          color: #fff;
        }
      }
    }
    .parallax01 {
      background-image: url("https://keiferx.com/wp-content/uploads/2022/06/scans02-iStock-1295492941-1920x900-BW-transp.png");

      /* Full height */
      height: 100%;

      /* Create the parallax scrolling effect */
      @include parallax;
    }
    .parallax02 {
      background-image: url("https://keiferx.com/wp-content/uploads/2022/06/doctor-patient-iStock-1183448049-1920x911-BW2.jpg");

      /* Full height */
      height: 100%;
      /* Create the parallax scrolling effect */
      @include parallax;
    }
  }
}


.primaryBtn{
  border: 1px solid $primaryThemeColor;
  color: #fff;
  background: $primaryThemeColor;
}

.primaryBtn:hover{
  border: 1px solid $secondaryThemeColor;
  color: #fff;
  background: $secondaryThemeColor;
}

.secondaryBtn{
  border: 1px solid $secondaryThemeColor;
  color: #fff;
  background: $secondaryThemeColor;
}

.secondaryBtn:hover{
  border: 1px solid $primaryThemeColor;
  color: #fff;
  background: $primaryThemeColor;
}

.basicPrimaryBtn{
  border: 1px solid $primaryThemeColor;
  color: #fff;
  background: $primaryThemeColor;
}

.basicSecondaryBtn{
  border: 1px solid $secondaryThemeColor;
  color: #fff;
  background: $secondaryThemeColor;
}
.btn:hover{
  color: #fff;
}

.accordion-button:not(.collapsed) {
  color: #000;
  background-color: #f4f4f4;
  box-shadow: none;
}
.accordion-button:focus {
  z-index: 3;
  border-color: none;
  outline: 0;
  box-shadow: none;
}
.w-15{
  width: 15%;
}


.testimonialVideo{
  max-height: 50vh;
}

// @media(max-width: 850px){
//     header{
//         .container{
//             .navbar{
//                 .nav-link{
//                     position: absolute;
//                     top: 0;
//                     left: 0;
//                     background-color: #fff;
//                     height: 100%;
//                     width: 225px;
//                     margin: 0;
//                     padding: 0;
//                     flex-direction: column;
//                     justify-content: space-evenly;
//                     align-items: center;
//                     transform: translateX(-100%);
//                     transition: 0.4s ease all;
//                     z-index: 10;
//                     li{
//                         a{
//                             color: #000;
//                             &::after{
//                                 background-color: #000;
//                             }
//                         }
//                     }
//                     button{
//                         border-color: #000;
//                         color: #000;
//                         padding: 0.75rem 1.5rem;
//                     }
//                     &.active{
//                         transform: translateX(0%);
//                     }
//                 }
//                 i{
//                     display: block;
//                 }
//             }
//             .showcase{
//                 min-height: 80vh;
//                 display: flex;
//                 flex-direction: column;
//                 justify-content: center;
//                 align-items: center;
//                 width: 100%;
//                 text-align: center;
//                 h1{
//                     font-size: 2.25rem;
//                 }
//             }
//         }
//     }
// }

@media (max-width: 500px) {
  header {
    .showcase {
      h1 {
        font-size: 2.1rem !important;
      }
      p {
        font-size: 0.85rem !important;
      }
    }
  }
}
